<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- httpclient 参数配置 -->
	<bean id="crawlConfig" class="com.flyhawk.crawl.CrawlConfig">
		<property name="connectTimeOut"><value>3000</value></property>
		<property name="readTimeOut"><value>3000</value></property>
		<property name="connectRequestTimeOut"><value>-1</value></property>
		<property name="defaultChartset"><value>ISO-8859-1</value></property>
		<property name="usePool"><value>true</value></property>
		<property name="maxPoolSize"><value>20</value></property>
		<property name="defaultMaxPerRouter"><value>10</value></property>
		<property name="maxIdleTime"><value>180000</value></property>
		<property name="userProxy"><value>true</value></property>
		<property name="proxyHost"><value>192.111.7.77</value></property>
		<property name="proxyPort"><value>10086</value></property>
	</bean>
	
	<bean id="httpRequestRetryHandler" class="com.flyhawk.crawl.CrawlHttpRequestRetryHandler">
		<property name="maxConnectionTimes"><value>3</value></property>
	</bean>
	
	<bean id="crawlConnectionKeepAliveStrategy" class="com.flyhawk.crawl.CrawlConnectionKeepAliveStrategy">
		<property name="keepAliveTime"><value>5000</value></property>
	</bean>
	
	<bean id="crawlConnection" class="com.flyhawk.crawl.CrawlConnection">
		<property name="crawlConfig"><ref bean="crawlConfig"/></property>
		<property name="httpRequestRetryHandler"><ref bean="httpRequestRetryHandler" /></property>
		<property name="connectionKeepAliveStrategy"><ref bean="crawlConnectionKeepAliveStrategy" /></property>
	</bean>
	
	<bean id="stringResponseHandler" class="com.flyhawk.crawl.CrawlStringResponseHandler"></bean>
	<bean id="crawlEngine" class="com.flyhawk.crawl.CrawlEngine" parent="crawlConnection" init-method="init" destroy-method="shutdown">
		<property name="responseHandler"><ref bean="stringResponseHandler"/></property>
	</bean>
	
	<bean id="updateList" class="com.flyhawk.crawl.NovelUpdateList">
		<property name="engine"><ref bean="crawlEngine"></ref></property>
		<!-- <property name="rootPath" value="http://book.zongheng.com/store/c0/c0/b9/u0/p1/v0/s9/t0/ALL.html"></property> -->
		<property name="rootPath" value="http://book.zongheng.com/book/516129.html"></property>
		<property name="regExpStr"><value>&lt;a class=&quot;fs14&quot; href=&quot;(.*?)&quot;</value></property>
		<property name="matchedNum"><value>1</value></property>
		<property name="separator"><value>@#@</value></property>
		<property name="exclusiveFlag"><value>true</value></property>
		<property name="exclusiveStr"><value>baidu</value></property>
		<property name="requestHeaders">
			<map>
				<entry key="User-Agent" value="Mozilla/5.0 (Windows NT 6.1; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0" />
				<entry key="Accept" value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" />
				<entry key="Host" value="book.zongheng.com" />
			</map>
		</property>
	</bean>
</beans>